body {
    padding-bottom: 40px;
    color: #5a5a5a;
}

/* Costumizando a navbar */

.navbar-wrapper {
    position: relative;
    z-index: 10;
    margin-top: 20px;
    margin-bottom: -90px !important; /* Margin negativa para levantar o slider */
}

/* Removendo a borda e alterando a sombra para ter a sensação de sobreposição */
.navbar .navbar-inner {
    border: 0;
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
        -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
            box-shadow: 0 2px 10px rgba(0,0,0,.25);
}

.navbar .brand {
    padding: 14px 20px 16px;
    font-size: 18px;
    font-weight: bold;
}

.navbar .nav > li > a {
    padding: 15px 20px;
}

.navbar .btn-navbar {
    margin-top: 10px;
}

/* Fim costumazação da navbar */

/* Carousel classe de base */
.carousel {
    margin-bottom: 60px;
}

.carousel .container {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.carousel .item {
    height: 500px;
}
.carousel img {
    min-width: 100%;
    height: 500px;
}

.carousel-caption {
    background-color: transparent;
    position: absolute;
    max-width: 550px;
    padding: 0 20px;
    margin-bottom: 100px;
}
.carousel-caption h1,
.carousel-caption .lead {
    margin: 0;
    line-height: 1.25;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
    margin-top: 10px;
}

/* conteúdo de marketing */

/* alinhar o texto dentro das colunas abaixo do slider */
.marketing .span4 {
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .span4 p {
    margin-left: 10px;
    margin-right: 10px;
}

.span4 p{
    text-align: left;
}

/* Feature */

.featurette-divider {
    margin: 30px 0;
    width: 300px;
    position: relative;
    left: 25vw;
}
.featurette {
    padding-top: 120px; /* centralizando verticalmente a parte das imagens */
    overflow: hidden; /* limpando os floats */
}

.featurette-image {
    margin-top: -120px;
}

/* Espaço nos lados dos elementos floats. */
.featurette-image.pull-left {
    margin-right: 40px;
}
.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    font-size: 50px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

/* costumizando o formulário */
#InputName, #InputEmail{
    width: 65%;
}

.form-bg{
    width: 45%;
    border: 1px solid #5a5a5a;
    border-radius: 20px;
    position: relative;
    left: 3%;
    padding-top: 7px;
    padding-bottom: -5px;
}

.formMove{
    position: relative;
    left: 7%;
    top: 3%;
}

label{
    color: #5a5a5a;
    margin-bottom: -1px;
}

/* clients photos */
.persona{
    height: 140px;
    width: 140px;
}

.logo{
    height: 15px !important;
    width: 10px !important;
}

/* RESPONSIVE CSS */

@media (max-width: 979px) {

    .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
    }
    .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
    }

    .carousel .item {
        height: 500px;
    }
    .carousel img {
        width: auto;
        height: 500px;
    }

    .featurette {
        height: auto;
        padding: 0;
        margin-top: 95px;
    }
    .featurette-image.pull-left,
    .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
    }

    #InputName, #InputEmail{
        width: 80%;
    }

    .form-bg{
        width: 70%;
        border: 1px solid #5a5a5a;
        border-radius: 20px;
        position: relative;
        left: 3%;
    }

    .formMove{
        position: inherit;
        left: 7%;
        top: 1%;
    }
}


@media (max-width: 767px) {

    .navbar-inner {
        margin: -20px;
    }

    .carousel {
        margin-left: -20px;
        margin-right: -20px;
        display: none;
    }
    .carousel .container {

    }
    .carousel .item {
        height: 300px;
    }
    .carousel img {
        height: 300px;
    }
    .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-bottom: 40px;
    }
    .carousel-caption h1 {
        font-size: 30px;
    }
    .carousel-caption .lead,
    .carousel-caption .btn {
        font-size: 18px;
    }

    .marketing .span4 + .span4 {
        margin-top: 40px;
    }

    .featurette-heading {
        font-size: 30px;
    }
    .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
    }

    #InputName, #InputEmail{
        width: 80%;
    }

    .form-bg{
        width: 70%;
        border: 1px solid #5a5a5a;
        border-radius: 20px;
        position: relative;
        left: 3%;
    }

    .formMove{
        position: inherit;
        left: 7%;
        top: 1%;
    }
}